<!doctype html>
<html ng-app="SuezEfWApp">
	<head>
		<title>Suez EfW App</title>
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="/javascripts/chirpApp.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<div id='main' class="container-fluid">
			<div class="col-lg-8 col-lg-offset-2">
				<nav class="navbar-fluid navbar-default navbar-fixed-top">
					<div class="navbar-header">
						<a class="navbar-brand logo" href="/#/" title="Suez EfW App">
				            <img src="images/logo.png" alt="Suez EfW App">
				        </a>
					</div>
					<nw-page-nav></nw-page-nav>
					<div class="nav navbar-nav navbar-right">
						<ul class="nav navbar-nav">
							<li class="navbar-text">Signed in as {{current_user}} </li>
						</ul>
						<a ng-hide="authenticated" class="btn btn-default navbar-btn navbar-left" href="#/login">Login</a>
						<ul class="nav navbar-nav" ng-hide="authenticated">
							<li class="navbar-text" ng-hide="authenticated">or</li>
						</ul>
						<a ng-hide="authenticated" class="btn btn-default navbar-btn navbar-left" href="#/signup">Register</a>
						<a ng-show="authenticated" class="btn btn-default navbar-btn navbar-left" href="#" ng-click="signout()">Logout</a>
					</div>
				</nav>
				<div ng-view>
				</div>
			</div>
		</div>

		<footer class="footer">
			
		</footer>
	</body>

	<!-- Router -->
    <script src="javascripts/router/angular-router.js"></script>

	<!-- Directives -->
    <script src="javascripts/directives/nwPageNav.js"></script>
</html>